@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    
    #attention {
        border-radius: 15px 15px 15px 15px !important;
        border-left: 15px solid !important;
        border-left-color: #50C320 !important;
    }
    #example {
        margin-top: 15px;
        border-radius: 15px 15px 15px 15px !important;
        border-left: 15px solid !important;
        border-left-color: #418ed9 !important;
    }
    #bold {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .tooltip:hover:before, .tooltip.open::before {
        top: 32px !important;
    }
    .tooltip:hover:after, .tooltip.open::after {
        top: 42px !important;
        font-size: 17px !important;
        width: 130px !important;
        margin-left: -80px !important;
    }
    body {
        margin: 45px !important;
        font-size: 25px !important;
    }
    h1 {
        font-size: 40px !important;
    }
    img {
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: 50% !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #2C2C2E !important;
        color: white !important;
    }
    h1 {
        color: #59ACFF !important;
    }
    #example {
        border-left-color: #356798 !important;
        background-color: #3E4C58 !important;
        color: white !important;
    }
    #attention {
        border-left-color: #529835 !important;
        background-color: #47593E !important;
        color: white !important;
    }
    .tooltip {
        color: #59ACFF !important;
    }
}

@font-face
{
    font-family: 'AvenirNextBold';
    src: local('AvenirNext-Bold'),url('fonts/AvenirNext-Bold.ttf') format('truetype');
}
@font-face
{
    font-family: 'AvenirNextMedium';
    src: local('AvenirNext-Medium'),url('fonts/AvenirNext-Medium.ttf') format('truetype');
}
@font-face
{
    font-family: 'AvenirNextRegular';
    src: local('AvenirNext-Regular'),url('fonts/AvenirNext-Regular.ttf') format('truetype');
}
#bold {
    font-family: AvenirNextBold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#header {
    text-align: center;
}
#div-one {
    text-indent: 1.5em;
}
#div-two {
    text-indent: 1.5em;
}
#div-three {
    text-indent: 1.5em;
}
#div-four {
    text-indent: 1.5em;
}
#attention {
    margin-top: 25px;
    font-size: 85%;
    padding: 1.5em;
    background-color: #eaf6e4;
    height: auto;
    border-left: 25px solid;
    border-left-color: #50C320;
    border-radius: 25px 25px 25px 25px;
    color: #616161;
    font-family: AvenirNextMedium;
}
#example {
    margin-top: 25px;
    font-size: 100%;
    padding: 1.5em;
    background-color: #e3ebf2;
    height: auto;
    border-left: 25px solid;
    border-left-color: #4c92d9;
    border-radius: 25px 25px 25px 25px;
    color: #616161;
    font-family: AvenirNextMedium;
}
.tooltip {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    position: relative;
    cursor: pointer;
    color: #4C92D9;
    white-space: normal;
    
}
.tooltip:hover:before, .tooltip.open::before {
    border: solid;
    border-color: #4a4a4a transparent;
    border-width: 0 15px 15px 15px;
    top: 52px;
    content: "";
    left: 50%;
    margin-left: -15px;
    position: absolute;
    z-index: 99;
    cursor: auto;
}
.tooltip:hover:after, .tooltip.open::after {
    text-indent: 0px;
    background: #333;
    background: #4a4a4a;
    border-radius: 15px;
    top: 62px;
    color: #fff;
    left: 50%;
    margin-left: -170px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 300px;
    content: attr(data-text);
    word-wrap: break-word;
    font-size: 30px;
    font-weight: normal;
    cursor: auto;
    text-align: center;
    text-decoration: none;
    white-space: normal;
}
body {
    margin: 60px;
    background-color: transparent;
    -webkit-text-size-adjust: 75%;

    font-size: 47px;
    color: #616161;
    font-family: AvenirNextRegular;
}
h1 {
    font-size: 60px;
    color: #4C92D9;
    font-family: AvenirNextBold;
}
img {
    pointer-events: none;
    width: 50%;
}


